<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    #Niveau 1 : exemple : fr/index.html
    RewriteRule ^(en|fr)/([^/]*).html$ /base/start.php?lang=$1&page=$2 [L]
    
    #Niveau 2 : exemple : fr/page/argA.html
    RewriteRule ^(en|fr)/([^/]*)/([^/]*).html$ /base/start.php?lang=$1&page=$2&arga=$3 [L]
    
    #Niveau 3 : exemple : fr/page/argA/argB.html
    RewriteRule ^(en|fr)/([^/]*)/([^/]*)/([^/]*).html$ /base/start.php?lang=$1&page=$2&arga=$3&argb=$4 [L]

    #Niveau 4 : exemple : fr/page/argA/argB/argC.html
    RewriteRule ^(en|fr)/([^/]*)/([^/]*)/([^/]*)/([^/]*).html$ /base/start.php?lang=$1&page=$2&arga=$3&argb=$4&argc=$5 [L]
        
    #Root FR ou EN
    RewriteRule ^(en|fr)/$ /base/start.php?lang=$1&page=index [L]    
    RewriteRule ^(en|fr)$ /base/start.php?lang=$1&page=index [L]     
    
    #404 ... 
    ErrorDocument 404 /base/start.php?page=404
</IfModule>