<IfModule mod_rewrite.c>
	SetEnv HTTP_MOD_REWRITE On
	
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
	
	#Trailing Slashes
    #RewriteRule ^(fr|en)/$ /lando/config.php?lang=$1 [L]  

	#Download FR ou EN 
    #RewriteRule ^(fr|en)/download/(.*)$ /lando/config.php?lang=$1&page=download&param1=$2 [L]   
    
    #Niveau 0 : exemple : fr/
    RewriteRule ^(fr|en)/?$ /lando/config.php?lang=$1&page=index [L]
    
    #Niveau 1 : exemple : fr/index
    RewriteRule ^(fr|en)/([^/]*)/?$ /lando/config.php?lang=$1&page=$2 [L]
   
    #Niveau 2 : exemple : fr/page/param1
    RewriteRule ^(fr|en)/([^/]*)/([^/]*)/?$ /lando/config.php?lang=$1&page=$2&param1=$3 [L]
    
    #Niveau 3 : exemple : fr/page/param1/param2
    RewriteRule ^(fr|en)/([^/]*)/([^/]*)/([^/]*)/?$ /lando/config.php?lang=$1&page=$2&param1=$3&param2=$4 [L]

    #Niveau 4 : exemple : fr/page/param1/param2/param3
    RewriteRule ^(fr|en)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/?$ /lando/config.php?lang=$1&page=$2&param1=$3&param2=$4&param3=$5 [L]

    #Niveau 5 : exemple : fr/page/param1/param2/param3/param4
    RewriteRule ^(fr|en)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/?$ /lando/config.php?lang=$1&page=$2&param1=$3&param2=$4&param3=$5&param4=$6 [L]

    #Root FR ou EN
    #RewriteRule ^(fr|en)/$ /lando/config.php?lang=$1&page=index [L]    
    #RewriteRule ^(fr|en)$ /lando/config.php?lang=$1&page=index [L]    
    
    #404 ... 
    ErrorDocument 404 /lando/config.php?page=404
</IfModule>