@charset "utf-8";
/* CSS Document */
/* Copyright 2015 Propaganda Design Inc. */

/*-------------------------------------------------------------------
	Base
-------------------------------------------------------------------*/
*, *:before, *:after, input, textarea, select { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
body { font-family:Arial,Helvetica,sans-serif; font-size:12px; background:#FFF; }
header { background:#999; }
section { }
footer { background:#CCC; }
a { }
h1 { font-size:25px; margin:20px 0 20px 0; }
h2 { }
h3 { }
p, ul { margin:0 0 12px 0; font-size:12px; line-height:14px; }
ul > li:before { content:"•"; padding:0 12px 0 0; display:inline-block; float:left; }
ul ul { margin:0 0 0 12px; }
ul > li { margin:4px 0 4px 0; }
ul { margin:0 0 20px 12px; list-style:none; text-indent:-12px; }
strong { }
hr { border:none; height:1px; background:#CCC; margin:20px 0; }
table th { background:#333; padding:10px; text-align:left; font-size:14px; color:#FFF; }
table td { background:#f8f8f8; padding:10px; border-bottom:1px solid #eaeaea; }
table tr:nth-child(odd) td { background:#FFF; }
label { display:block; }
input, textarea, select { font-family:Arial,Helvetica,sans-serif; }
input[type=text], textarea, select { -webkit-appearance:none; -moz-appearance:none; appearance:none; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; border:1px solid #CCC; display:block; width:100%; margin:0 0 10px 0; padding:8px 8px; }
input:focus, textarea:focus, input:hover, textarea:hover, select:focus, select:hover { outline:none; border:1px solid #999; }
textarea { resize:vertical; min-height:150px; }
input[type=submit] { cursor:pointer; border:none; display:block; -webkit-appearance:none; -moz-appearance:none; appearance:none; }
input[type='radio'] { opacity:0; float:left; width:16px; height:16px; cursor:default; padding:0; margin:0; }
input[type='radio'] + label { background-image:url(../images/common/radio-off.png); background-repeat:no-repeat; height:16px; padding:3px 0 0 20px; display:block; margin:0 0 8px 0; }
input[type='radio']:checked + label { background-image:url(../images/common/radio-on.png); }
input[type='checkbox'] { opacity:0; float:left; width:16px; height:16px; cursor:default; padding:0; margin:0; }
input[type='checkbox'] + label { background-image:url(../images/common/check-off.png); background-repeat:no-repeat; height:16px; padding:3px 0 0 20px; display:block; margin:0 0 8px 0; }
input[type='checkbox']:checked + label { background-image:url(../images/common/check-on.png); }
input[type="text"]:disabled { background:#dddddd; }
input[type="text"]:disabled:hover { border:1px solid #CCC; }
select { background:url(../images/common/form-select.png) no-repeat center right; }
select:hover, select:focus { background:url(../images/common/form-select.png) no-repeat center right; }
::selection { background:#0088CC; color:#FFF; }
::-moz-selection { background:#0088CC; border:1px solid #0088CC; color:#FFF; }
::-webkit-input-placeholder { color:#999; }
:-moz-placeholder { color:#999; }
::-moz-placeholder { color:#999; }
:-ms-input-placeholder { color:#999; }

/*-------------------------------------------------------------------
	Modules (ex.: .box)
-------------------------------------------------------------------*/
.navigation { position:relative; z-index:100; font-size:0;}
.navigation > ul { position:relative; z-index:1; margin:0; text-indent:0; font-size:0; }
.navigation > ul > li { display:inline-block; *display:inline; *zoom:1; vertical-align:top; margin:0; }
.navigation ul li:before { content:""; padding:0; float:none; }
.navigation > ul > li > a { display:block; font-size:14px; -webkit-transition:background .3s ease; -moz-transition:background .3s ease; -o-transition:background .3s ease; transition:background .3s ease; }
.navigation > ul > li > ul > li { margin:0; text-indent:0px; }
.navigation > ul > li > ul { zoom:1; filter:alpha(opacity=0); opacity:0; display:none; position:absolute; margin:0; }
.navigation > ul > li > ul > li > a { padding:7px 10px; background:#FFF; display:block; }
.navigation > ul > li > ul > li:hover > a { background:#CCC; }
.navigation > ul > li:hover > a, .navigation > ul > .is-selected >  a { color:#000; }
.btn { display:inline-block; font-size:14px; padding:10px 12px; color:#FFF; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; -o-transition:all .3s ease; transition:all .3s ease; opacity:0.8; margin:0 5px 0 0; }
.btn:hover { opacity:1; }
#map_canvas { height:300px; }

/*-------------------------------------------------------------------
	States (ex.: .is-collapsed)
-------------------------------------------------------------------*/
.app-msg { padding:15px; font-size:16px; color:#FFF; line-height:20px; }
.app-msg > p { display:block; clear:both; line-height:22px; }
.app-msg > p > .msg-icon { width:23px; height:23px; display:block; float:left; margin:0 5px 9px 0; }
.app-msg strong { font-weight:bold; }
.msg { padding:15px; font-size:16px; color:#FFF; line-height:20px; margin:0 0 10px 0; }
.msg > p { display:block; clear:both; line-height:22px; }
.msg > p > .msg-icon { width:23px; height:23px; display:block; float:left; margin:0 5px 9px 0; }
.msg strong { font-weight:bold; }
.is-success { background:#89A418; }
.is-success > p > .msg-icon { background:url(../images/common/icon-success.png); }
.is-failure { background:#d22300; }
.is-failure > p > .msg-icon { background:url(../images/common/icon-error.png); }
.is-error { border:1px solid #D22300 !important; color:#D22300; }
.is-error::-webkit-input-placeholder { color:#D22300; }
.is-error:-moz-placeholder { color:#D22300; }
.is-error::-moz-placeholder { color:#D22300; }
.is-error:-ms-input-placeholder { color:#D22300; }
.is-successful { border:1px solid #89A418 !important; color:#89A418; }
.is-successful::-webkit-input-placeholder { color:#89A418; }
.is-successful:-moz-placeholder { color:#89A418; }
.is-successful::-moz-placeholder { color:#89A418; }
.is-successful:-ms-input-placeholder { color:#89A418; }
.last-row-is-highlighted td:last-child { background:#52a2ff; }
.has-rounded-corners { -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.has-box-shadow { -webkit-box-shadow:4px 4px 0px 0px rgba(0,0,0,0.75); -moz-box-shadow:4px 4px 0px 0px rgba(0,0,0,0.75); box-shadow:4px 4px 0px 0px rgba(0,0,0,0.75); margin-bottom:4px; }
.has-blue-bg { background:#0088CC;}
.has-red-bg { background:#B32017; }
.has-yellow-bg { background:#FAA125; }
.has-green-bg { background:#89A418; }
table tr:hover td { background:#f1f1f1 !important; }
.navigation > ul > li > .is-hover { zoom:1; filter:alpha(opacity=100); opacity:1; display:block; }